<div class="container">
  <div class="row">
    <div (click)="primostep()" class="col-12 col-md-4 border border-success">
      <p *ngIf="indizio1">primo indizio</p>
    </div>
    <div (click)="secondostep()" class="col-12 col-md-4 border border-primary">
      <p *ngIf="indizio2">secondo indizio</p>
    </div>
    <div (click)="terzostep()" class="col-12 col-md-4 border border-danger">
      <p *ngIf="indizio3">terzo indizio</p>
    </div>
    <div (click)="quartostep()" class="col-12 col-md-4 border border-warning">
      <p *ngIf="indizio4">ultimo indizio</p>
    </div>
  </div>
</div>
<h3 *ngIf="finegioco" class="text-center text-success">
  hai trovato il tesoro
</h3>
