<div *ngIf="domande.length > 0">
  <div>
    <p>{{ domandeShuffle[index].domanda }}</p>
    <p (click)="incrementCannoniere()">
      {{ domandeShuffle[index].cannoniere }}
    </p>
    <p (click)="incrementCapitano()">{{ domandeShuffle[index].capitano }}</p>
    <p (click)="incrementMozzo()">{{ domandeShuffle[index].mozzo }}</p>
    <p (click)="incrementNavigatore()">
      {{ domandeShuffle[index].navigatore }}
    </p>
    <p (click)="incrementSpugna()">{{ domandeShuffle[index].spugna }}</p>
    <p (click)="incrementCorsaro()">{{ domandeShuffle[index].corsaro }}</p>
  </div>
</div>

<div *ngIf="finedomande">
  scopri finalmente che pirata sei
  <button (click)="button()">scopri</button>
</div>

<ng-container *ngIf="ruoloFinale">
  <div *ngIf="scopriRuolo">Pirata, il tuo ruolo è: {{ ruoloFinale }}</div>
</ng-container>
