<div class="container-fluid pt-5 pirate-bg">
  <div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
      <h2
        class="p-3 text-center fw-bold fs-1 bg-white rounded-3 pirate-title animate__animated animate__fadeInDown"
      >
        Registrati sulla nave pirata
      </h2>
    </div>
  </div>
</div>

<div class="form-container animate__animated animate__fadeInUp">
  <form [formGroup]="form">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="nome"
        [ngClass]="{
          'is-invalid': isInvalid('nome'),
          'is-valid': isValid('nome')
        }"
      />
      <label for="firstName" class="form-label">Nome</label>
      <p *ngIf="isInvalid('nome')" class="error-message">
        Campo nome non valido
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="cognome"
        [ngClass]="{
          'is-invalid': isInvalid('cognome'),
          'is-valid': isValid('cognome')
        }"
      />
      <label for="lastName" class="form-label">Cognome</label>
      <p *ngIf="isInvalid('cognome')" class="error-message">
        Campo cognome non valido
      </p>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        [ngClass]="{
          'is-invalid': isInvalid('username'),
          'is-valid': isValid('username')
        }"
      />
      <label for="username" class="form-label">Username</label>
      <p *ngIf="isInvalid('username')" class="error-message">
        Campo username non valido
      </p>
    </div>

    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid': isInvalid('email'),
          'is-valid': isValid('email')
        }"
      />
      <label for="email" class="form-label">Email</label>
      <p *ngIf="isInvalid('email')" class="error-message">
        Campo email non valido
      </p>
    </div>

    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="psw"
        [ngClass]="{
          'is-invalid': isInvalid('psw'),
          'is-valid': isValid('psw')
        }"
      />
      <label for="password" class="form-label">Password</label>
      <p *ngIf="isInvalid('psw')" class="error-message">
        Campo password non valido
      </p>
    </div>

    <p
      *ngIf="isSignup"
      class="text-center text-success animate__animated animate__tada"
    >
      Registrazione effettuata
    </p>

    <div class="d-grid">
      <button
        (click)="signup()"
        class="btn btn-custom animate__animated animate__pulse"
        [disabled]="!form.valid"
      >
        Registrati
      </button>
      <p class="mt-3 animate__animated animate__bounceIn">
        <a routerLink="/login" class="pirate-link">torna al login</a>
      </p>
      <p
        *ngIf="err"
        class="text-center text-danger p-3 border border-danger mt-3 rounded-5 animate__animated animate__shakeX"
      >
        Email già registrata
      </p>
    </div>
  </form>
</div>
