<div class="container text-white">
  <div class="row pt-4">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 aside">
      <div class="port p-3">
        <h3>Vesti il tuo pirata</h3>
        <div class="d-flex flex-column">
          <div class="img-container">
            <img class="imgPap" src="/pappagalli/init.png" alt="pappagallo" />
          </div>
          <button
            class="btn btn-primary justify-content-center mt-2"
            routerLink="/customize"
          >
            Start
          </button>
        </div>
      </div>

      <div class="p-3 user-profile">
        <p>{{ user.nome }} {{ user.cognome }}</p>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-8 colxl-9">
      <h1 class="mt-2">Benvenuti a Bordo, Coraggiosi Avventurieri!</h1>
      <p>Salpate verso un mondo di avventure senza fine!</p>
      <p class="">
        Qui, sul nostro vascello pirata, troverete giochi epici, quiz che
        metteranno alla prova la vostra astuzia, e mappe del tesoro per
        avventure incredibili.
      </p>
      <p>
        Solo i più coraggiosi potranno scoprire i segreti nascosti, e voi siete
        pronti per la sfida? Lasciatevi trascinare dal fascino dei mari e
        unitevi alla ricerca di tesori perduti e gloria eterna.
      </p>
      <p>
        Affilate le menti, preparatevi a risolvere enigmi e dimostrate di essere
        veri pirati, pronti a conquista ⚔️
      </p>

      <div class="button-container">
        <button routerLink="/che-pirata-sei" class="btn-pirate">
          &nbsp; Vai al quiz
        </button>
        <button routerLink="/caccia-al-tesoro" class="btn-pirate">
          &nbsp; Gioca
        </button>
      </div>
    </div>
  </div>
</div>
