.img-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  width: 80%;

}
.choice img{
  cursor: pointer;
}
.choice{
  height: 600px;
  display: flex;
  justify-content: center;
  position: relative;
}
button{
  width: 100%;
}

.element{
  max-width: 160px ;
}
.cont{
  max-width: 400px;
}
.perg{
position: absolute;
width: 100%;
height: 700px;
z-index:-2;
}
.elcont{
  margin-top: 30%;
}
.genere{
  height:20%;
  width: auto;
  position: absolute;
  right:0;
  top:40px;
  cursor: pointer;
}
.gen{
  position: relative
}
