<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 ">
      <div class="img-container">
        <img [src]="foto" alt="avatar pappagallo">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
       <div class="col-6" (click)="toggleItem('spada')">
        <img src="/pappagalli/elementi/spada.png">
       </div>
       <div class="col-6"(click)="toggleItem('cappellopirata')">
        <img src="/pappagalli/elementi/cappello.png">
       </div>
       <div class="col-6"(click)="toggleItem('bandana')">
        <img src="/pappagalli/elementi/bandana.png">
       </div>
       <div class="col-6"(click)="toggleItem('cintura')">
        <img src="/pappagalli/elementi/cintura.png">
       </div>
      </div>
    </div>
  </div>
</div>
