<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-5 ">
      <div class="img-container gen">
        <h2 class="text-white">Personalizza il tuo avatar!</h2>
        <img [src]="foto" alt="avatar pappagallo">
        <img class="genere" [src]="fotog" (click)="toggleItem('genere')">
      </div>
      <button class="btn btn-primary mt-4" (click) = "send()" routerLink="/home">Personalizza</button>
    </div>
    <div class="col-12 col-md-7 choice">
      <img class="perg" src="pergamena.png">
      <div class="cont">
        <div class="row pt-5 elcont">
          <div class="col-6 d-flex " (click)="toggleItem('spada')">
           <img class="element" src="/pappagalli/elementi/spada.png">
          </div>
          <div class="col-6 el d-flex pt-2"(click)="toggleItem('cappellopirata')">
           <img class="element " src="/pappagalli/elementi/cappello.png">
          </div>
          <div class="col-6 el d-flex  "(click)="toggleItem('bandana')">
           <img class="element" src="/pappagalli/elementi/bandana.png">
          </div>
          <div class="col-6"(click)="toggleItem('cintura')">
           <img class="element " src="/pappagalli/elementi/cintura.png">
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
