$primary:  #0C2845;
$secondary: #54D8C2;
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pirata+One&display=swap');

body{
   background-image: url(assets/map.png);
}
h1, h2 ,h3 ,h4 {
  font-family: "Pirata One", serif;
}
h1{
  font-size: 60px;
}
