$primary: #0c2845;
$secondary: #54d8c2;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pirata+One&display=swap");

body {
  background-image: url(assets/sfondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Pirata One", serif;
  color: #e0c088;
}
h1 {
  font-size: 60px;
  color: #e0c088;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.btn{
  background-color: #0c2845;
  border: 1px solid #e0c088;
  font-family: "Pirata One", sans-serif;
  color: white;
  font-size: 20px;
}
.btn:hover{
  background-color: #e0c088;
  border-color: #0c2845;
  color: #0c2845;
}
